/* Clear
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;}
h1, h2, h3, h4, h5, h6, p {
    margin:0;
    padding:0;}

h2 {  margin-top: -8px;}
h3 {  margin-top: -6px;}
h4 {  margin-top: -4px;}

ul, li, ol {
    margin:0;
    padding:0;
    list-style:none;}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 990px;
  margin: 0 auto;}

.container:after,
.row:after{
  content: "";
  display: table;
  clear: both; }

.row+.row{
    margin-top:99px;}
.col {
  width: 198px;
  min-height:198px;
  float: left;}
.row.half .col {
    min-height:99px;}

.col.wide {
    width:320px;}

.col:nth-child(1),
.col:nth-child(2){
    text-align:right;
    padding-right:15px;}
.col:nth-child(3){
    text-align:center;}
.col:nth-child(4),
.col:nth-child(5){
    text-align:left;
    padding-left:15px;}

.col.pano,
.col.pano:nth-child(1) {
  width:100%;
  text-align:center;}

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    font-family: 'Open Sans', sans-serif;
    font-size:1em;
    background-color: #f8f8f8;
    color:#222;
}

p,li {font-size:0.9em;}


a,
a:link,
a:visited,
a:active {
    text-decoration:underline;
    color:#222;}

ul+h4,
ul+h3,
ul+ul,
ul+p,
p+ul,
p+p,
h2+p,
h3+p,
h2+h3,
h3+h4
h3+p,
h2+p{
    margin-top:15px;
}

article >h2 {
  text-align: center;
  margin:2em 0;
  border-bottom: 5px solid #000;
  border-top: 5px solid #000;
  padding: 1em 0;}



.col >h2{
    background-color: #000; color: #fff;
    margin:0; padding: 0.5em;}
.col >h2 a:link,
.col >h2 a:visited,
.col >h2 a:active{
    color:#fff;
}

nav {
    padding:20px 0;}
nav a,
nav a:link,
nav a:visited,
nav a:active {
    display: block;
    width: 100%;
    height: 15px;
    line-height: 15px;
    margin:65px 0 65px 0;

    text-decoration: none;
    color:#222;
    font-weight: 900;
    font-size:0.8em;
}
nav a span{
    padding:0 7px;}
nav .col:nth-child(1){
    text-align:left;}
nav .col:nth-child(5){
    text-align:right;}

nav .col:nth-child(1) a,
nav .col:nth-child(4) a{
    border-left:15px solid #222;}

nav .col:nth-child(2) a,
nav .col:nth-child(5) a{
    border-right:15px solid #222;}


nav a:hover,
nav a.active{
    background-color:#222;
    color:#fff;}
nav a:hover span,
nav a.active span {
    background-color:#fff;
    color:#222;}

nav h1 a:hover {
    background-color:transparent;}


nav a:hover span,
a:hover {
  -webkit-animation: rainbow 666ms infinite;
          animation: rainbow 666ms infinite;}



article nav {
  padding: 0;
  text-align: center;
  margin-bottom: 6em;}

article nav ul {
  list-style: none;
  margin:0;
  padding:0;}

article nav ul li {
  display:inline;
  margin:0;
  padding:0;  }

article nav a,
article nav a:link,
article nav a:visited,
article nav a:active {
  display:inline;
  padding:0.5em 1em;
  margin:0 1em;}

@-webkit-keyframes rainbow {
  0%   { color:#005784; }
  20%  { color:#31a2f2; }
  40% { color:#b2dcef; }
  60% { color:#a3ce27; }
  80% { color:#44891a; }
  100% { color:#005784; }
}
@keyframes rainbow {
  0%   { color:#005784; }
  20%  { color:#31a2f2; }
  40% { color:#b2dcef; }
  60% { color:#a3ce27; }
  80% { color:#44891a; }
  100% { color:#005784; }
}

.game + .game {
  padding-top:3em; margin-top:3em;
  border-top:1px solid #cde;}