<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/theme.css" type="text/css">
    <link rel="icon" href="/favicon.png" />
    <!-- NSA -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//matomo.p1x.in/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '4']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End NSA Code -->

  </head>
  <body {% if page.background %}style="background-image: url('/assets/{{ page.permalink }}/{{ page.background }}');"{% endif %}>
    <main id="container" tabindex="-1">
      {% include header.html %}

      <article>
        {{ content }}
      </article>

      {% include footer.html %}
    </main>
  </body>
</html>

</article>
