---
layout: default
---
<h1>{{ page.title }}</h1>
    
{{ content }}

{% for games in site.data.games %}
<h2 class="title">{{ games.title }}</h2>
<div class="covers">
    {% for game in games.games %}
    <div class="rect game iblock">
        <a href="/games/{{ game.url }}">
            <h3>
                <img src="/assets/games/{{ game.url }}/cover.jpg" alt="{{ game.name }}" class="cover"/>
            </h4>
            <h4>{{ game.name }}</h4>
            <p>{{ game.tagline }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endfor %}