---
layout: default
---
<h1>{{ page.title }}</h1>
<aside>
  <table class="dt">
    <caption>Item details</caption>
    <tr>
      <th>Title</th>
      <td>{{ page.title }}</td>
      <td rowspan="6" class="cover">
        <img src="/assets{{ page.url }}/cover.jpg" alt="Cover of {{ page.title }}" class="market"/>
      </td>
    </tr>
    <tr>
      <th>Compatibility</th>
      <td>{{ page.compatibility }}</td>
    </tr>
    <tr>
      <th>Type</th>
      <td>{{ page.type }}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>{{ page.status }}</td>
    </tr>
    <tr>
      <th>License</th>
      <td>{{ page.license }}</td>
    </tr>
    {% if page.file %}
    <tr>
      <th>DOWNLOAD</th>
      <td><a href="/assets{{ page.url }}/{{ page.file }}">{{ page.file }}</a> {{ page.filesize }}</td>
    </tr>
    {% endif %}
  </table>
</aside>

<h2>Description</h2>
{{ content }}

{% if page.screenshots %}
<aside>  
    <h2>Gallery</h2>    
    {% for scr in page.screenshots %}
    <a href="/assets{{ page.url }}/{{ scr.big }}">
      <img src="/assets{{ page.url }}/{{scr.small}}" alt="Screenshot from {{ page.title }}" class="thumb"/>
      </a>
    {% endfor %}
</aside>
{% endif %}

{% if page.resources %}
<aside>
<h2>Resources</h2>
  <table class="dt">
    <caption>Learn more about this item.</caption>
    {% for res in page.resources %}
    <tr>
      <th>{{ res.title }}</th>
      <td><a href="{{ res.url }}">{{ res.humanUrl }}</a></td>
    </tr>
    {% endfor %}
  </table>
</aside>
{% endif %}


{% if page.license == 'MIT' %}
<aside>
  <h2>MIT License</h2>
  <pre>
  Copyright 2019 P1X

  Permission is hereby granted, free of charge, to any person obtaining a copy of 
  this software and associated documentation files (the "Software"), to deal in 
  the Software without restriction, including without limitation the rights to use, 
  copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the 
  Software, and to permit persons to whom the Software is furnished to do so, 
  subject to the following conditions:
  
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software.
  
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, 
  INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
  PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT 
  HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION 
  OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE 
  SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  </pre>
</aside>
{% endif %}